<ul class="breadcrumb">
    <li><a href="/">Home</a> <span class="divider">/</span></li>
    <li><a href="<%- pathTo.blogs() %>">blogs</a> <span class="divider">/</span></li>
    <li class="active"><a href="#">New blog</a></li>
</ul>

<div class="page-header">
    <h1>New blog</h1>
</div>

<% var form = formFor(@Blog, {action: pathTo.blogs(), method: 'POST', id: "blog-form", class: 'form-horizontal'}) %>
<%- form.begin() %>
<%- include _form %>
<div class="form-actions">
    <%- form.submit('<i class="icon-ok icon-white"></i> Create blog', {class: 'btn btn-primary'}) %> or
    <%- linkTo('Cancel', pathTo.blogs(), {class: 'btn'}) %>
</div>
<%- form.end() %>
