<ul class="breadcrumb">
    <li><a href="/">Home</a> <span class="divider">/</span></li>
    <li><a href="<%- pathTo.articles() %>">articles</a> <span class="divider">/</span></li>
    <li class="active"><a href="#">New article</a></li>
</ul>

<div class="page-header">
    <h1>New article</h1>
</div>

<% var form = formFor(article, {action: pathTo.articles(), method: 'POST', id: "article-form", class: 'form-horizontal'}) %>
<%- form.begin() %>
<%- include _form %>
<div class="form-actions">
    <%- form.submit('<i class="icon-ok icon-white"></i> Create article', {class: 'btn btn-primary'}) %> or
    <%- linkTo('Cancel', pathTo.articles(), {class: 'btn'}) %>
</div>
<%- form.end() %>
